.banner{
    position: relative;
    height: 448px;
    color: white;
    object-fit: contain;
    margin-bottom: 10px;
    background-position: center center;
    margin-bottom: 2rem;
}

.banner__contents{
    margin-left: 30px;
    padding-top: 140px;
    height: 190px; 

}
.banner__title{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}
.banner__description{
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 0.8rem;
    max-width: 360px;
    height: 80px;
}
.banner--fadeBottom{
    position: relative; 
    height: 448px;
    background: linear-gradient(58deg, black, transparent);
    /* background: -webkit-linear-gradient(
        rgba(2, 2, 2, 0) 0%,
        rgba(71, 70, 70, 0.507) 100%
    );  */
}
.banner__button{
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    background-color:rgba(51,51,51,0.5);
    padding-bottom:0.5rem;

}
.search__movie{
    padding: 1rem;
    border-radius: 50px;
    background: linear-gradient(45deg, #ffffff, transparent);
    width: 25%;
    border: 2px solid white;
    padding-top: 1rem;
}
.search__icon{
    font-size: 21px;
    position: relative;
    right: 3rem;
}

.banner__List{
    position: absolute;
    top: 67%;
    left: 37%;
    z-index: 4;
    background: linear-gradient(2deg, black, transparent);
    padding: 1rem;
    height: 10rem;
    overflow: auto;
    width: 29%;
}

.banner__button:hover{
    color: #000;
    background-color: #e6e6e6;
    transition: all 0.2s;
}

/* @media(max-width: 800px){
    .banner{
        position: relative;
        height: 448px;
        color: white;
        object-fit: contain;
        margin-bottom: 10px;
 
    }
} */